#navMenu{
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0, 0.5);
    transform: translateX(-100%);
    transition: all 1s;
}

#navMenu >ul{
    width: 80%;
    height: calc(100vh - 60px);
    padding: 10px;
    list-style: none;
    background-color: white;
}

#navMenu >ul >li{
    width: 100%;
    display: block;
    padding: 10px;
}

header >nav >ul >li >ul{
    width: 100%;
    list-style: none;
}
